body {
	max-width: 1440px;
	max-height: 1024px;
	margin: auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
	background: #FFFEF8;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

header {
	display: flex;
	justify-content: space-between;
    margin-top: 50px;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
    margin-left: 50px;
}

li:hover {
	color: #000000;
    cursor: pointer;
    font-weight: 600;
}

#insta{
    width: 20px;
    height: 20px;
}

#all{
position: absolute;
left: 40%;
top: 35%;
	
}

.formLogin{
	width: 379px;
	height: 51px;
	left: 530px;
	top: 338px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	border: none;
}

.formDiv{
	margin-top: 30px;
	line-height: 2;
}

.mLegal{
    position: absolute;
    right: 7%;
    bottom: 3%;
	color: #000000;
	text-decoration: none;
}

.centerLogin{
	text-align: center;
	color: #1D6154;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
}

.mdp{
	color: #000000;
}

.connect{
	background: #1D6154;
	border-radius: 60px;
	font-family: 'Syne';
	font-weight: 700;
	font-size: 14px;
	color: #FFFFFF;
	border: none;
	width: 180px;
	height: 36px;
}

.center{
	text-align: center;
}

.formTypo{
	color: #3D3D3D;
	font-family: 'Work Sans';
	font-size: 14px;
}